<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ baseUrl }}../App/Views/Admin/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="{{ baseUrl }}../App/Views/Admin/css/reset.css">
    <link rel="stylesheet" href="{{ baseUrl }}../App/Views/Admin/css/style.css">
    <link rel="stylesheet" href="{{ baseUrl }}../App/Views/Admin/css/style-responsive.css">
</head>

<body>
    {% block content %}{% endblock %}
    <script src="{{ baseUrl }}../App/Views/Admin/js/jquery.js"></script>
    <script src="{{ baseUrl }}../App/Views/Admin/js/bootstrap.min.js"></script>
    <script src="{{ baseUrl }}../App/Views/Admin/js/scripts_footer.js"></script>
</body>

</html>