{% extends 'Admin/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="admin-login__content">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                <div class="row h-100">
                    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
                        <div class="admin-login">
                            <form action="" style="display:none;">
                                <input style="display:none">
                                <input type="password" style="display:none">
                            </form>
                            <form class="admin-login__form" action="{{ baseUrl ~ 'admin/pages' }}" method="POST" autocomplete="off">
                                <div class="admin-login__input--wrapper">
                                    <input type="text" name="admin-login" class="admin-login__input" value=""
                                        placeholder="LOGIN" required="required"></input>
                                </div>
                                <div class="admin-login__valid-feedback login">

                                </div>
                                <div class="admin-login__input--wrapper">
                                    <input type="text" name="admin-password" class="admin-login__input" value=""
                                        placeholder="HASŁO" required="required" onfocus="this.type='password'"></input>
                                </div>
                                <div class="admin-login__valid-feedback password">

                                </div>
                                <div class="admin-login__input-submit--wrapper">
                                    <input class="admin-login__input-submit" type="submit" value="ZALOGUJ">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}