{% extends 'Admin/base.html' %}
{% block title %}Strony{% endblock %}
{% block content %}
<div class="admin__content">
    {{ include("Admin/menu_panel.html") }}
    <div class="admin__c-panel">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="admin__c-panel-header">
                        <h1>MENU</h1>
                        <div class="admin__c-panel-header-spacer">

                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------->



            <!-------------------------->
        </div>
    </div>
</div>
{% endblock %}