{% extends 'Admin/base.html' %}
{% block title %}Strony{% endblock %}
{% block content %}
<form action="" method="POST" autocomplete="off">
    <div class="admin__content">
        {{ include("Admin/menu_panel.html") }}
        <div class="admin__c-panel">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="admin__c-panel-header">
                            <h1>STRONA</h1>
                            <div class="row">
                                <div class="col-10">
                                    <div class="admin__c-panel-add-page-name">
                                        <input type="text" class="admin__c-panel-add-page-name-text" name="page-name"
                                            placeholder="wpisz nazwę strony" value="{{ page.0.name }}">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="admin__c-panel-add-page-buttons">
                                        <button type="submit" class="admin__c-panel-add-page-save" name="save"
                                            placeholder="wpisz nazwę strony" formaction="{{ baseUrl }}admin/page-save">zapisz</button>
                                        <button type="submit" class="admin__c-panel-add-page-save-back" name="save-back"
                                            placeholder="wpisz nazwę strony" formaction="{{ baseUrl }}admin/page-save-back">zapisz>wróć</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="page-id" value="{{ page.0.id }}">
                <div class="row">
                    <div class="col-12">
                        <div class="admin__c-panel-icon-add--wrapper">
                            <a href="{{ baseUrl }}admin/page-edit" class="admin__c-panel-icon-add tooltip-top" data-tooltip="dodaj element">
                                {{ include("Admin/img/icon_add.svg") }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="admin__c-panel-page-row header-footer">
                            <div class="admin__c-panel-element-name">
                                <p>header</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------------->

                <!-------------------------->
                <div class="row">
                    <div class="col-12">
                        <div class="admin__c-panel-page-row header-footer">
                            <div class="admin__c-panel-element-name">
                                <p>footer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}