@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

* {
    /* outline: 1px solid red; */
}

body {

    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 30px;
    color: #1269b0;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #ffffff;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: #ffd800;
    transition: all 0.2s ease-in-out;
}

/*LOGIN*/
.admin-login__content {
    height: 100vh;
}

.admin-login {
    height: 300px;
    background-color: rgb(38, 83, 152);
    top: calc(50vh - 150px);
    color: #ffffff;
}

.admin-login__form {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 120px;
}

.admin-login__input--wrapper {
    width: 100%;
    height: 30px;
    background-color: #1269b0;
}

.admin-login__input {
    outline: none;
    display: block;
    width: 100%;
    height: 30px;
    border: 0;
    text-align: center;
    background-color: transparent !important;
    color: #fff;
}

.admin-login__input::placeholder {
    color: #ffffff;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.admin-login__input:focus::placeholder {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.admin-login__input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #1269b0 inset;
    -webkit-text-fill-color: #ffffff;
}

.admin-login__valid-feedback {
    width: 100%;
    height: 15px;
    font-size: 10px;
    color: #fff;
    text-align: center;
}

.admin-login__input-submit--wrapper {
    width: 100%;
    height: 30px;
}

.admin-login__input-submit {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 2px;
    width: 130px;
    height: 30px;
    text-align: center;
    color: #1269b0;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #1269b0;
    border-radius: 6px;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.admin-login__input-submit:hover {
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    background-color: #1269b0;
    transition: all 0.2s ease-in-out;
    font-weight: 300;
}

/*ADMIN MAIN TEMPLATE*/
/*tooltip*/
.tooltip-left::after {
    opacity: 0;
    z-index: 1000;
}

.tooltip-left:hover::after {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: -5px;
    transform: translate(-100%, -50%);
    padding: 5px;
    border: 2px solid #1269b0;
    border-radius: 6px;
    background: #ffffff;
    color: #1269b0;
    white-space: nowrap;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.25));
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.3s;
}

.tooltip-right::after {
    opacity: 0;
    z-index: 1000;
}

.tooltip-right:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    right: -5px;
    transform: translate(100%, -50%);
    padding: 5px;
    border: 2px solid #1269b0;
    border-radius: 6px;
    background: #ffffff;
    color: #1269b0;
    white-space: nowrap;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.25));
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.3s;
}

.tooltip-top::after {
    opacity: 0;
    z-index: 1000;
}

.tooltip-top:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    width: auto;
    height: auto;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 5px;
    border: 2px solid #1269b0;
    border-radius: 6px;
    background: #ffffff;
    color: #1269b0;
    white-space: nowrap;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.25));
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.3s;
}


.admin__content {
    display: flex;
    min-height: 100vh;
    justify-content: stretch;
}

.admin__menu-panel {
    flex-basis: 200px;
    background-color: rgb(38, 83, 152);
    box-shadow: 0px 0px 15px #666666;
}

.admin__c-panel {
    padding-left: 45px;
    flex: 1;
}

.admin__c-panel-header {
    height: 90px;
}

.admin__c-panel-header-spacer {
    height: 30px;
    margin-bottom: 10px;
}

.admin__c-panel-icon-add--wrapper {
    height: 24px;
    width: 24px;
    position: absolute;
    left: -25px;
    bottom: -27px;
}

.admin__c-panel-icon-add {
    display: block;
}

.admin__c-panel-icon-add svg {
    fill: #1269b0;
    filter: drop-shadow(0px 0px 0px #1269b0);
    transition: all 0.5s ease-in-out;
}

.admin__c-panel-icon-add:hover svg {
    fill: #ffd800;
    filter: drop-shadow(0px 0px 3px #777777);
    transition: all 0.2s ease-in-out;
}

.admin__c-panel-add-page-name {
    display: flex;
    height: 30px;
    width: 100%;
    border: 2px solid #1269b0;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 0px 12px;
}

.admin__c-panel-add-page-name-text {
    flex: 1;
    border: 0px;
    background: #ffffff;
    font-size: 18px;
    font-weight: 700;
    color: #1269b0;
    outline: 0px;
}

.admin__c-panel-add-page-name-text::placeholder {
    color: #1269b0;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.admin__c-panel-add-page-name-text:focus::placeholder {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.admin__c-panel-add-page-buttons {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    border: 2px solid #1269b0;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;

}

.admin__c-panel-add-page-save {
    flex: 1;
    padding: 0px 5px;
    border: 0px;
    background: #ffffff;
    border-right: 1px solid #1269b0;
    cursor: pointer;
    font-weight: 700;
    color: #1269b0;
    transition: all 0.5s ease-in-out;
}

.admin__c-panel-add-page-save:hover {
    background: #1269b0;
    color: #ffd800;
    transition: all 0.2s ease-in-out;
}

.admin__c-panel-add-page-save-back {
    flex: 1;
    padding: 0px 5px;
    border: 0px;
    background: #ffffff;
    border-left: 1px solid #1269b0;
    cursor: pointer;
    font-weight: 700;
    color: #1269b0;
    transition: all 0.5s ease-in-out;
}

.admin__c-panel-add-page-save-back:hover {
    background: #1269b0;
    color: #ffd800;
    transition: all 0.2s ease-in-out;
}

.admin__c-panel-page-row {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #1269b0;
    border-radius: 6px;
    padding: 0px 15px;
    cursor: move;
}

.admin__c-panel-page-row.header-footer {
    cursor: default;
}

.admin__c-panel-page-name-link {
    color: #ffffff;
    font-weight: 700;
}

.admin__c-panel-page-name-link:hover {
    color: #ffd800;
    text-decoration: none;
    filter: drop-shadow(0px 0px 2px #777777);
}

.admin__c-panel-element-name {
    color: white;
    font-weight: 700;
}

.admin__c-panel-icon-remove--wrapper {
    height: 24px;
    width: 24px;
    margin-left: auto;
}

.admin__c-panel-icon-remove {
    display: block;
}

.admin__c-panel-icon-remove svg {
    fill: #ffffff;
    transition: all 0.5s ease-in-out;
}

.admin__c-panel-icon-remove:hover svg {
    fill: #ffd800;
    transition: all 0.2s ease-in-out;
}

.admin__menu-panel-header {
    height: 90px;
    padding-top: 15px;
}

.admin__menu-panel-header-items {
    display: flex;
    align-items: center;
}

.admin__menu-panel-row {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    background-color: #1269b0;
    transition: all 0.5s ease-in-out;
}

.admin__menu-panel-row:hover {
    background-color: #00A7E1;
    transition: all 0.2s ease-in-out;
}

.admin__menu-panel-item--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.admin__menu-panel-item--link:hover {
    color: rgb(38, 83, 152);
}

.admin__menu-panel-burger {
    width: 22px;
    height: 18px;
}

.admin__menu-panel-burger svg {
    fill: #ffffff;
}

.admin__menu-panel-login--wrapper {
    flex: 1;
    display: flex;
}

.admin__menu-panel-login {
    color: #ffffff;
    font-weight: 700;
    text-align: right;
    max-width: 148px;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-left: auto;
}

.admin__menu-panel-login-hover {
    display: none;
}

.admin__menu-panel-login:hover+.admin__menu-panel-login-hover {
    display: block;
    position: absolute;
}